@font-face {
    font-family: Miestilo;
    src: url("../fuentes/mabook01.otf");
    font-weight: 500;
}

@font-face {
    font-family: Mitexto;
    src: url("../fuentes/mabook02.ttf");
    font-weight: 900;
}

h1{
    font-family: Miestilo;
    font-weight: 500;
    color: aqua;
}

h2{
    font-family: Mitexto;
    font-weight: 900;
    color: crimson;
}

li{
    display: inline;
}

.contenedorpadre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid darkgoldenrod;
    background-color: lightgray;
}

.hijo{
    margin: 20px;
    border: 2px solid blue;
    width: 250px;
    height: 250px;
    text-align: center;
    background-color: lightpink;
}